@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  /* Font Size */
  --fs-1: 96px;
  --fs-2: 80px;
  --fs-3: 42px;
  --fs-4: 36px;
  --fs-5: 30px;
  --fs-6: 24px;
  --fs-7: 18px;
  --fs-8: 14px;

  /* Colors */
  --text-color: #ffffff;
  --blue-text: #1c2c7e;
  --bg: #20318b;
  --green-gradients: linear-gradient(to right, #5bd921, #307311);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  background: var(--bg);
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: var(--fs-3);
}

h2 {
  font-size: var(--fs-4);
}

h3 {
  font-size: var(--fs-5);
}

h6 {
  font-size: var(--fs-6);
}

p {
  font-size: var(--fs-7);
}

.title {
  font-size: var(--fs-3);
  font-weight: bold;
  color: var(--text-color);
  text-align: center;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  padding: 20px 0;
  background: var(--bg);
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .navbar .nav_links {
  margin-right: 16%;
  display: flex;
  gap: 3.5rem;
  transition: transform 0.5s ease;
}

.header .navbar .nav_links a {
  font-size: var(--fs-7);
  font-weight: 300;
}

.menu-icon {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .header .navbar .nav_links {
    display: none;
    flex-direction: column;
    gap: 1rem;
    background: var(--bg);
    position: absolute;
    top: 60px;
    right: 20px;
    padding: 10px;
    border-radius: 5px;
  }

  .header .navbar .nav_links a {
    font-size: var(--fs-8);
  }

  .menu-icon {
    display: block;
  }

  .nav_links.active {
    display: flex;
  }

  .menu-icon.active span::before {
    content: "\2715"; /* Unicode for cross (×) */
  }
}

/* ----------------- Hero Section ----------------- */

.hero {
  padding-top: 4rem;
}

.hero_bg {
  background-image: url("/assets/img/hero-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 637px;
}

.hero_content {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  height: 637px;
  position: relative;
}

.hero_content .hero_left {
  padding-top: 3rem;
  width: 50%;
}

.hero_content .hero_left .hero_title {
  padding-bottom: 20px;
  font-size: var(--fs-4);
  letter-spacing: 5%;
}

.hero_content .hero_left h6 {
  font-size: var(--fs-6);
  font-weight: 400;
}

.hero_content .hero_left .price {
  background: var(--green-gradients);
  font-size: var(--fs-1);
  width: fit-content;
  padding: 0 10px;
  border-radius: 5px;
  margin: 1rem 0;
}

.hero_content .hero_left p{
  padding-top: 1rem;
  font-size: var(--fs-7);
  font-weight: 300;
  line-height: 190%;
  width: 64%;
}

.hero_content .hero_left .hero_content .hero_right {
  display: flex;
}

.hero_content .hero_right .right_img {
  position: absolute;
  right: 0;
  bottom: 0;
}

.hero_content .hero_right .right_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
